<%= render 'delivery_date/header'%>

<div class="row px-2 mt-3">
    <div class="col"><%= render 'delivery_date/left_delivery'%></div>
    <div class="col mt-3"><%= render 'delivery_date/mid_delivery'%></div>
    <div class="col mt-3"><%= render 'delivery_date/right_delivery'%></div>
</div>