<div class="px-2 my-3">
    <div class="text-center fs-38 fw-600 "> We’ve Got All Covered</div>
    <div class="row px-2">
        <div class="col-2">
        </div>
        <div class="col-8 d-flex justify-content-center  text-secondary fw-400">Find your industry from all the options
            and choose your most feesible option </div>
        <div class=" col-2  d-flex justify-content-center fw-400"><span class="view-btn text-danger"> View All</span>
        </div>
    </div>
    <div class="row mt-3" style="background: #E3E3E3;">
        <!-- <div class="col py-4 ps-4  order-1"> -->
            <div class=" col-md-6 order-md-0 order-1 mt-md-0 py-4 ps-md-4 px-sm-4">
            <div class="grocery-1">
                <div class="grocery-bg-color">
                    <div class="fs-20 fw-500" style="color: #FFE600;">Groceries</div>
                    <div class="fs-28 fw-600 text-light"> One Stop Solution For All the options</div>
                    <div class="text-light my-2">Better visibility on multiple digital channelsBetter visibility on
                        multiple
                        digital channels</div>
                    <div>
                        <button class="btn btn-light text-danger my-1">Explore All</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="col py-4 pe-4   order-2"> -->
            <div class=" col-md-6 order-md-0 order-2 py-4  pe-md-4 px-sm-4 ">
            <div class="grocery-2">
                <div class="grocery-bg-color">
                    <div class="fs-20 fw-500" style="color: #FFE600;">Groceries</div>
                    <div class="fs-28 fw-600 text-light"> One Stop Solution For All the options</div>
                    <div class="text-light my-2">Better visibility on multiple digital channelsBetter visibility on
                        multiple
                        digital channels</div>
                    <div>
                        <button class="btn btn-light text-danger my-1">Explore All</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .view-btn {
        border: 1px solid #D8D8D8;
        border-radius: 6px;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-left: 10px;
        padding-right: 10px;
    }
</style>